body {
    background-color: black;
    color: white;
    text-align: center;
    padding: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2 {
    font-size: 35px;
}

button {
    margin: 2px;
}



